{% extends original_change_list_template %}
{% load i18n static admin_modify %}

{% block extrastyle %}
	{{ advanced_filters.media.css }}
	{{ block.super }}
{% endblock extrastyle %}

{% block object-tools-items %}
	{{ block.super }}
	{# Add a link to the end of the tool items #}
    <li>
        <div class="afilters">
            <a class="iframe-popup-link icons-object-tools-add-link"
               href="{% url 'admin:advanced_filters_advancedfilter_add' %}?model={{ model_label }}&_popup=iframe"
            >
                {% trans "New Filter" %}
            </a>
            {% if current_afilter %}
                <a class="iframe-popup-link icons-object-tools-add-link edit-link"
                   href="{% url 'admin:advanced_filters_advancedfilter_change' current_afilter %}?_popup=iframe"
                >
                    {% trans "Edit current filter" %}
                </a>
            {% else %}
                <a class="iframe-popup-link icons-object-tools-add-link edit-link"
                   href="{% url 'admin:advanced_filters_advancedfilter_changelist' %}?model_name={{ model_name }}&_popup=iframe"
                >
                    {% trans "Sort filters" %}
                </a>
            {% endif %}
        </div>
        </li>
{% endblock object-tools-items %}

{% block content %}
	{{ block.super }}
	{# Add the dialog content to the bottom of the content #}
    <script type="text/javascript" charset="utf-8">
        window.FORM_MODEL = undefined;
        window.MODEL_LABEL = '{{ app_label }}.{{ opts.model_name }}';

        django.jQuery(function($){
            $.magnificPopup.instance._onFocusIn = function(e) {
                // Do nothing if target element is select2 input
                if( $(e.target).hasClass('select2-input') ) {
                    return true;
                }
                // Else call parent method
                $.magnificPopup.proto._onFocusIn.call(this,e);
            };

            window.bindMagicPopupLinks = function() {
                $('.iframe-popup-link').magnificPopup({
                    type:'iframe',
                    callbacks: {
                        parseAjax: function (mfpResponse) {
                            var content = $(mfpResponse.data).find('#content');
                            content.addClass('white-popup');
                            mfpResponse.data = content;
                        },
                        close: function() {
                            window.reloadFilters();
                        }
                    }
                });
                if ($(".errorlist", "#advanced_filters").length) {
                    $('.ajax-popup-link').magnificPopup('open');
                }
            };

            window.bindMagicPopupLinks();
        });

        window.reloadFilters = function() {
            (function($) {
                $('#changelist-form').fadeTo(200, 0.5);
                $('#changelist-filter > *').fadeTo(200, 0.2);
                $('#content-main .object-tools .afilters > *').fadeTo(200, 0.2);
                $('#changelist-filter').load(window.location.href, function(content) {
                    var $content = $(content);
                    $('#changelist-filter').html($content.find('#changelist-filter')[0].innerHTML);
                    $('#content-main .object-tools .afilters').html($content.find('#content-main .object-tools .afilters')[0].innerHTML);
                    window.bindMagicPopupLinks();
                });
            })(django.jQuery);
        };
    </script>

{#    {% include "admin/common_js_init.html" with formset=formset %}#}
{% endblock content %}
